# computer
.DS_Store

#runtime
log
node_modules
tests/node_modules
tests/native_modules
tests/tmp-nw
*.pyc
*~
.*.sw?
.project
.pydevproject
tags
Thumbs.db
/tmp

# application
/test/sanity/app-open-event/userdata
/test/sanity/app-getproxyforurl/package.json